

     
 

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head"><%=  t("MPV_Rails_seed") %> </h1>
        <p class="splash-subhead">
            <%=  t("subtitle") %> 
        </p>
        <p>
            <%= link_to t("github_ionic_mpv_seed"), "https://github.com/pepetox/Ionic-mpv-seed", class: "pure-button pure-button-primary" %></a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center"><%=  t("features_title") %></h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    <%=  t("BDD_ready") %>
                </h3>
                <p>
                    <%=  t("BDD_explanation") %>
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    <%=  t("Authorization_and_authentication") %>
                </h3>
                <p>
                    <%=  t("devise_cancan") %>
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    <%=  t("I18n") %>
                </h3>
                <p>
                    <%=  t("I18n_explanation") %>
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    <%=  t("Ionic_friendly") %>
                </h3>
                <p>
                    <%=  t("Ionic_friendly_explanation") %>
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            
            <%= image_tag("file-icons.png", :class => "ure-img-responsive", width: 300) %>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon"><%=  t("go_store_for_demo") %></h2>

            <p>
                <%=  t("amazings_mvp") %>
            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center"><%=  t("Made_by_pepetox") %></h2>


    <div class="footer l-box is-center">
        <%=  t("template_info") %>
    </div>

</div>



