
<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
      <%= link_to t("MPV_Seed"), root_path,class: "pure-menu-heading" %>

      <ul>
          <li class="pure-menu-selected"><%= link_to t("Home"), root_path %></li>
          <li><%= link_to "Github", "https://github.com/pepetox/rails-mpv-seed" %></li>
          <% if user_signed_in? %>
            <li>
            <%= current_user.email %>
            </li>
            <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
            </li>
          <% else %>
            <li>
            <%= link_to('Login', new_user_session_path)  %>  
            </li>
          <% end %>
              </div>
          </div>
      </ul>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">MPV Rails seed</h1>
        <p class="splash-subhead">
            A good start for MPV with authorization and authentication, cucumber ready.
        </p>
        <p>
            <%= link_to "Made to work with ionic hybrid mpv seed", "https://github.com/pepetox/Ionic-mpv-seed", class: "pure-button pure-button-primary" %></a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">When you clone the project you have:.</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    BDD ready
                </h3>
                <p>
                    You have cucumber ready tu run and some integration test.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Authorization and authentication
                </h3>
                <p>
                    Devise and can can are loaden and instaled and prepare to work with cucumber
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    I18n
                </h3>
                <p>
                    This application is in English, Spanish and Japanese.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Ionic friendly
                </h3>
                <p>
                    If you use the ionic mpv seed you will have also application for tablets and smartphones.
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            
            <%= image_tag("file-icons.png", :class => "ure-img-responsive", width: 300) %>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Go to the app store and play store to download the demos</h2>

            <p>
                I hope you learn a lot with this seed and use it for a lot of incredible MVP!!
            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">Made by pepetox to help beg.</h2>


    <div class="footer l-box is-center">
        This page is based on the template for lading pages of pure css that was made with love by the YUI Team.
    </div>

</div>



