<!DOCTYPE html>
<html>
<head>
  <title>Railssuperseed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">


    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
      <%= link_to t("proyect_name"), root_path,class: "pure-menu-heading" %>

      <ul>
          <li class="pure-menu-item pure-menu-selected"><%= link_to t("Things"), things_path if user_signed_in? %></li>
          <li class="pure-menu-item"><%= link_to "Github", "https://github.com/pepetox/rails-mpv-seed" %></li>
          <% if user_signed_in? %>
            <li class="pure-menu-item">
            <%= current_user.email %>
            </li>
            <li class="pure-menu-item">
            <%= link_to(t('Logout'), destroy_user_session_path, :method => :delete) %>        
            </li>
          <% else %>
            <li class="pure-menu-item">
            <%= link_to(t('Login'), new_user_session_path)  %>  
            </li>
          <% end %>
            <li class="pure-menu-item"><%= link_to "English", root_path(locale: "en") unless I18n.locale == :en %></li>
            <li class="pure-menu-item"><%= link_to "Español", root_path(locale: "es") unless I18n.locale == :es %></li>
            <li class="pure-menu-item"><%= link_to "日本語", root_path(locale: "jp") unless I18n.locale == :jp%> </li> <!-- could be omitted → usability question -->
<!--             <li><a rel="alternate" href="/pl" hreflang="es" lang="es">Es</a></li>
            <li><a rel="alternate" href="/de" hreflang="jp" lang="jp">日本語</a></li>
 -->      </ul>
    </div>
</div>



<%= yield %>

</body>
</html>
